<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>ATM PBM</h1>
            <hr>
            <p>ATM PBMs dual pharmaceutical technologies work together to improve the way professionals prescribe and distribute medications</p>
            <a href="https://atmpbm.github.io" class="btn btn-primary btn-xl">Doctor</a>
            <a href="https://atmpbm.github.io" class="btn btn-primary btn-xl">Pharmacist</a>
            <a href="https://atmpbm.github.io" class="btn btn-primary btn-xl">Patient</a>


        </div>
    </div>
</header>
